.tmp*
.DS_Store*
._*
.Spotlight-V100
.Trashes

#Icon?
ehthumbs.db
[Tt]humbs.db

#stuff
builds/
.svn/
export_obj/
desktop.ini

coolfriends-raylib/builds/

# Created by https://www.gitignore.io/api/godot
# Edit at https://www.gitignore.io/?templates=godot

### Godot ###

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

# End of https://www.gitignore.io/api/godot

#voxel's particular configuration peculiarities
Exports/
